### ignore all csv files

### ignore vscode and jupyter files

.vscode/
.ipynb_checkpoints/


### build folder to be ignored except for .gitkeep

build/*
!build/.gitkeep

### output folder to be ignored except for .gitkeep

output/*
!output/.gitkeep

### coeff files to be ignored

coeffFiles/*
!coeffFiles/.gitkeep
!coeffFiles/charPolyCoeffs2D_Big1.csv

### image files to be ignored

images/*
share_images/*
!share_images/.gitkeep
!images/.gitkeep

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# *.txt
*.bin